body  {
    background-image: url("https://mocah.org/uploads/posts/5341310-water-nature-sea-ocean-outdoors-sea-waves-general-luna-cloud-9-tower-philippines-surfing-drone-shot-siargao-island-siargao-beach-scenery-tsunami-aerial-view-landscape-sports-sport-free-picture.jpg");
    background-size: cover;
    
  }

.navbar {
    background-image: url("https://mocah.org/uploads/posts/5341310-water-nature-sea-ocean-outdoors-sea-waves-general-luna-cloud-9-tower-philippines-surfing-drone-shot-siargao-island-siargao-beach-scenery-tsunami-aerial-view-landscape-sports-sport-free-picture.jpg");
    background-size: cover;
}
  
#app-name {
    font-size: 80px;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.nav-link {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.card-body {
    background-color: white
}

#map {
    margin: auto;
    width: 75%;
    height: 400px;
    background-color: grey;
}

.dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
/* The container <div> - needed to position the dropdown content */
.dropdown {
      position: relative;
      display: inline-block;
    }
    
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
/* Links inside the dropdown */
.dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
    
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
      display: block;
    }
    
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }
  
.card-subtitle {
    font-size: medium;
}

.results {
  overflow: scroll;
  height: 500px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#results{
  color: white;
  background-color: lightgray;
}

.title-text {
    font-weight: bold;
    font-size: larger;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.results-cards {
  padding: 45px;
  background-color: #1f4e73;
}